extends frame
{% load staticfiles %}

mixin challengeList(clg, pk, state, cate, priv)
  tr.ALL(class=cate, data-state=state, style='display: none;')
    td.text-center: a(href='#mod-#{pk}')= clg.title
    td.text-center= clg.source
    td.text-center
      if clg.category == 'PWN'
        span.label.label-primary PWN
      if clg.category == 'REVERSE'
        span.label.label-success REVERSE
      if clg.category == 'WEB'
        span.label.label-danger WEB
      if clg.category == 'CRYPTO'
        span.label.label-info CRYPTO
      if clg.category == 'MISC'
        span.label.label-warning MISC
    td.text-center= clg.score
    td.text-center= clg.solved
    if clg.status == 'on' and clg.privilege > priv
      td.text-center: input(data-pk=pk, type='checkbox', checked, disabled)
    if clg.status == 'off' and clg.privilege > priv
      td.text-center: input(data-pk=pk, type='checkbox', disabled)
    if clg.status == 'on' and clg.privilege <= priv
      td.text-center: input(data-pk=pk, type='checkbox', checked)
    if clg.status == 'off' and clg.privilege <= priv
      td.text-center: input(data-pk=pk, type='checkbox')
    // td.text-center= clg.state
    if clg.state == 0
      td.text-center
        i.fa.fa-lightbulb-o(data-pk=pk, data-toggle='tooltip', data-placement='bottom', title='Attempted')
    if clg.state == 1
      td.text-center
        i.fa.fa-flag(data-toggle='tooltip', data-placement='bottom', title='Solved')
    if clg.state == 2
      td.text-center
        i.fa.fa-flag-checkered(data-toggle='tooltip', data-placement='bottom', title='Team-Solved')
    if clg.state == -1
      td.text-center &nbsp;


block container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          | Challenge List
          .btn-group.pull-right
            button#btnALL.btn.btn-xs ALL
            button#btnPWN.btn.btn-primary.btn-xs PWN
            button#btnREVERSE.btn.btn-success.btn-xs REVERSE
            button#btnWEB.btn.btn-danger.btn-xs WEB
            button#btnCRYPTO.btn.btn-info.btn-xs CRYPTO
            button#btnMISC.btn.btn-warning.btn-xs MISC
            button#btnAttempted.btn.btn-xs Attempted
        table.table.table-hover
          thead
            tr
              th.text-center Title
              th.text-center Source
              th.text-center Category
              th.text-center Score
              th.text-center Solved
              th.text-center Status
              th
          tbody#cont(data-cate='ALL', data-page='0')
            for item in challenges
              +challengeList(item, item.pk, item.state, item.category, privilege)
      .btn-group.pull-right
        button#pagerPrev.btn.btn-primary: i.fa.fa-long-arrow-left
        button#pagerNext.btn.btn-primary: i.fa.fa-long-arrow-right

      button#uploadBtn.btn.btn-info: i.fa.fa-cloud-upload
      //- input#zipHolder(type='file', name='source')
      a#toggleModal.btn(data-toggle='modal', href='#modal-container', style='display: none;') modal

      #modal-container.modal.fade(aria-hidden='true', style='top: 60px;')
        .modal-dialog: .modal-content
          .modal-header
            button.close(aria-hidden='true', data-dismiss='modal') ×
            h4#modalTitle.modal-title Test
          .modal-body
            p test test
          .modal-footer.row
            .col-xs-9
              input#flagHolder.form-control(type='text', placeholder='Input the Flag')
              .alert.alert-success.pull-left(style='margin-bottom: 0; marigin-top: 10px; padding: 7px 15px; display: none;') You Got the FLAG Congratulations !!!
              .alert.alert-danger.pull-left(style='margin-bottom: 0; margin-top: 10px; padding: 7px 15px; display: none;') Incorrect FLAG
            .col-xs-3
              button#submit.btn.btn-info(data-pk) Submit


append script
  script(src='{% static "assets/bootflat/js/bootstrap-switch.min.js" %}')
  script(src='{% static "assets/plugins/ajax-file-upload.js" %}')
  script(src='{% static "build/challenge.js" %}')


append head
  link(rel='stylesheet', href='{% static "assets/bootflat/css/bootstrap-switch.min.css" %}')
