extends frame
{% load staticfiles %}

mixin memberList(mb, pk, avatar)
  li.media.member
    a.pull-left(href='/person/#{pk}/'): img.media-object.img-rounded(height='50', 
      width='50', src='#{MEDIA_URL}#{avatar}')
    if mb.username != username
      a.pull-right.btn.btn-link.leader.kickout(data-toggle='modal', href='#kickout-modal', 
        data-pk=pk, data-name=mb.username, style='display: none;')
        i.fa.fa-lg.fa-user-times
    .media-body
      h4.media-heading= mb.username
      p #[i.fa.fa-fw.fa-crosshairs]&nbsp;#{mb.major}&nbsp;&nbsp;&nbsp;#[i.fa.fa-fw.fa-star]&nbsp;#{mb.score}
      p #[i.fa.fa-fw.fa-university]&nbsp;#{mb.school}

mixin newMemberList(mb, pk, avatar)
  li.media
    a.pull-left(href='/person/#{pk}/'): img.media-object.img-rounded(height='50', 
      width='50', src='#{MEDIA_URL}#{avatar}')
    a.pull-right.btn.btn-info.leader.approve(data-pk=pk)
      | Approve&nbsp;
      i.fa.fa-user-plus
    i.pull-right.fa.fa-2x.fa-check.text-success(style='display: none;')
    .media-body
      h4.media-heading= mb.username
      p #[i.fa.fa-fw.fa-crosshairs]&nbsp;#{mb.major}&nbsp;&nbsp;&nbsp;#[i.fa.fa-fw.fa-star]&nbsp;#{mb.score}
      p #[i.fa.fa-fw.fa-university]&nbsp;#{mb.school}

mixin writeupList(wp, pk, avatar)
  li.media(style='margin-bottom: 25px;')
    a.pull-left(data-toggle='tooltip', data-placement='top', title=wp.author.username)
      img.media-object.img-rounded(height='50', width='50', src='#{MEDIA_URL}#{avatar}')
    .media-body
      h4.media-heading
        a(href='/writeup/#{pk}/')= wp.title
      p
        span.badge(class='badge-#{wp.cate}') #{wp.challenge.title}&nbsp;#{wp.challenge.score}'
        &nbsp;&nbsp;#[i.fa.fa-comments-o]&nbsp;#{wp.comment}&nbsp;&nbsp;&nbsp;#[i.fa.fa-thumbs-o-up]&nbsp;#{wp.like}

mixin chartLabel(label, color)
  li: ul.list-inline
    li(style='width: 10px; height: 10px; background-color: #{color}')
    li= label

mixin taskList(item, pk)
  ul.task.list-inline(style='margin-bottom: 0px;')
    li.doneTask(data-pk=pk): a.btn.btn-link(style='padding-right: 0px;')
      span.fa-stack
        i.fa.fa-square-o.fa-stack-2x
        i.fa.fa-check.fa-stack-1x(style='display: none;')
    li= item.content
    if item.deadline
      li: span.badge.badge-warning= item.deadline
    li: span.badge.badge-primary= item.assign
    li(style='margin-left: 40px; display: none;')
      a.btn.btn-link(href='#clear-#{pk}'): i.fa.fa-times

mixin doneList(item, pk)
  .doneItem
    ul.list-inline(style='margin-left: 15px;')
      li.text-success: i.fa.fa-lg.fa-check-square-o
      li= item.content
    p.text-muted(style='margin: 15px 50px;')
      | checked by #[span.text-warning= item.checker.username] at #[span.text-info= item.donetime]
      span(style='margin-left: 20px; display: none;', data-toggle='tooltip', data-placement='right', title='clear')
        a(href='#clear-#{pk}'): i.fa.fa-trash-o

mixin issueList(item, pk, avatar)
  ul.discuss.list-inline(style='margin: 20px 12px;')
    li: img.img-circle(height='30', width='30', src='#{MEDIA_URL}#{avatar}',
      data-toggle='tooltip', data-placement='bottom', title='#{item.name}')
    li: h4(style='margin: 0px;'): a(href='issue/#{pk}')= item.title
    li.pull-right.text-muted
      span
        i.fa.fa-clock-o
      | &nbsp;#{item.timex}
    li.pull-right.text-muted(style='padding-right: 20px;')
      span
        i.fa.fa-comments-o
      | &nbsp;#{item.comment}

block container
  .row
    .col-md-8
      .row(style='margin-bottom: 20px;')
        .col-md-3(style='margin-right: -20px;')
          img#avatar.img-thumbnail(src='#{MEDIA_URL}#{avatar}',
            width='120', height='120', style='cursor: pointer;',
            data-toggle='tooltip', data-placement='bottom', title="Update Logo")
          #iconHolder.img-thumbnail(style='width: 120px; height: 120px; display: none;')
            i.fa.fa-spinner.fa-5x.fa-spin(style='margin: 20px 20px;')
          form(enctype='multipart/form-data')
            input#avatarHolder(type='file', name='img', 
              style='display: none;', onchange='uploadAvatar();')
        .col-md-9(style='margin-left: -20px;')
          h2(style='margin: 40px 0px;', data-state=state)
            | #{groupname}
            a.btn.btn-xs.btn-danger(data-toggle='modal', href='#modal-container' 
              style='margin-left: 30px; display: none;') Dismiss
          #modal-container.modal.fade(aria-hidden='true', style='top: 60px;')
            .modal-dialog(style='width: 400px;'): .modal-content
              .modal-header
                button.close(aria-hidden='true', data-dismiss='modal') ×
                h4.modal-title Dismiss Confirm
              .modal-body
                p.
                  This action CANNOT be undone. This will permanently delete the
                  group's tasks, issues and comments, and remove all membership.
                br
                p Please type in the name of the group to confirm.
              .modal-footer.row
                .col-xs-12
                  input#nameHolder.form-control(type='text', data-name=groupname)
                .col-xs-12(style='margin-top: 10px;')
                  button#dismissBtn.btn.btn-block.btn-danger
                    | I understand consequences, dismiss the group
          #kickout-modal.modal.fade(aria-hidden='true', style='top: 60px;')
            .modal-dialog(style='width: 400px;'): .modal-content
              .modal-header
                button.close(aria-hidden='true', data-dismiss='modal') ×
                h4.modal-title Dismiss Confirm
              .modal-body
                p 
                  | Are You Sure To Kick Out&nbsp;
                  span kickoutName
              .modal-footer.row
                .col-xs-12(style='margin-top: 10px;')
                  button#kickoutBtn.btn.btn-success(data-pk) Yes
          
      .row
        .col-md-12
          button#newTaskBtn.btn.btn-info.pull-right New Task
          h3(style='margin-top: 0px; margin-bottom: 25px;') Tasks

          ul#newTask.list-inline(style='margin: 0px 10px; display: none;')
            li: input#taskContent.task(placeholder='New Task')
            li: .btn-group
              button.btn.btn-xs.btn-warning: i.fa.fa-calendar
              input#deadline.btn.btn-xs.btn-warning(placeholder='Deadline', style='width: 80px;')
              .btn-group
                button.btn.btn-xs.btn-primary: i.fa.fa-user
                button#assign.btn.btn-xs.btn-primary(data-content='', style='width: 80px;')
                  | Unassigned
                button.btn.btn-xs.btn-primary.dropdown-toggle(data-toggle='dropdown')
                  span.caret
                ul.dropdown-menu
                  for item in members
                    li: a.memberName(href='#')= item.username
                  li.divider
                  li: a(href='#') Unassigned
            li: .btn-group
              button#taskAssign.btn.btn-xs.btn-success: i.fa.fa-check
              button#taskCancel.btn.btn-xs.btn-danger: i.fa.fa-times

          for item in tasking
            +taskList(item, item.pk)
          h6: a#comTask.btn.btn-link
            | Completed Tasks&nbsp;
            span: i.fa.fa-angle-double-down
          #doneList(style='display: none;')
            for item in tasked
              +doneList(item, item.pk)
      if state
        hr
        .row
          .col-md-12
            a#newDiscBtn.btn.btn-info.pull-right(href='issue/') New Issue
            h3(style='margin-top: 0px; margin-bottom: 25px;') Issues

            for item in issues
              +issueList(item, item.pk, item.avatar)
      hr
      .row
        .col-md-4
          canvas#pieChart(height='220', width='220', style='margin-left: 10px; margin-top: 30px;')
        .col-md-2
          ul.list-unstyled
            +chartLabel('PWN', '#3BAFDA')
            +chartLabel('REVERSE', '#8CC152')
            +chartLabel('WEB', '#ED5565')
            +chartLabel('CRYPTO', '#37BC9B')
            +chartLabel('MISC', '#FFCE54')
        .col-md-4
          canvas#radarChart(height='300', width='300', style='margin-left: 30px;')
        .col-md-2
          ul.list-unstyled
            +chartLabel('Your Group', '#89729E')

    .col-md-4
      ul.nav.nav-pills
        li.active
          a(href='#achievement', data-toggle='pill')
            | Achievement
        li
          a(href='#membership', data-toggle='pill')
            | Membership&nbsp;
            if newmember
              span.badge.badge-danger= newmember
        li
          a(href='#writeup' data-toggle='pill')
            | WriteUp
      .tab-content(style='margin-top: 15px;')
        #achievement.tab-pane.fade.in.active
          h4 Solved Challenges
          #accordion.panel-group
            .panel
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapsePwn')
                    | PWN
                    span.badge.badge-info.pull-right 23
              #collapsePwn.panel-collapse.collapse PWN
            .panel
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseReverse')
                    | REVERSE
                    span.badge.badge-info.pull-right 23
              #collapseReverse.panel-collapse.collapse: .panel-body REVERSE
            .panel
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseWeb')
                    | WEB
                    span.badge.badge-info.pull-right 23
              #collapseWeb.panel-collapse.collapse WEB
            .panel
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseCrypto')
                    | CRYPTO
                    span.badge.badge-info.pull-right 23
              #collapseCrypto.panel-collapse.collapse CRYPTO
            .panel
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseMisc')
                    | MISC
                    span.badge.badge-info.pull-right 23
              #collapseMisc.panel-collapse.collapse MISC

        #writeup.tab-pane.fade
          ul.media-list
            for item in writeups
              +writeupList(item, item.pk, item.avatar)
        #membership.tab-pane.fade
          ul.media-list
            for item in newmembers
              +newMemberList(item, item.pk, item.avatar)
            if newmembers
              hr
            for item in members
              +memberList(item, item.pk, item.avatar)


append script
  script(src='{% static "assets/charts/chart.min.js" %}')
  script(src='{% static "assets/plugins/ajax-file-upload.js" %}')
  script(src='{% static "assets/plugins/bootstrap-datetimepicker.min.js" %}')
  script(src='{% static "build/group.js" %}')



append head
  link(rel='stylesheet', href='{% static "assets/plugins/bootstrap-datetimepicker.min.css" %}')
  style.
    input.task{
      border: 0px solid #fff;
      background: transparent;
      font-size: 20px;
      font-family: Helvetica;
      font-weight: 100;
      border-bottom: 1px dashed rgba(120, 120, 120, 0.5);
      margin-bottom: 15px;
    }
    input.task:focus{
      outline: none;
      border-bottom: 1px dashed rgba(28, 171, 233, 0.5);
    }
    .btn-group ::-webkit-input-placeholder{
      color: #fff;
    }
    td.day, th.dow, th.prev i, th.next i, th.switch{
      color: #ccc;
    }
