extends frame
{% load staticfiles %}

mixin personalInfo(key, value, icon)
  ul.list-inline
    li(style='width: 20px;'): i.fa.fa-lg(class='fa-#{icon}')
    li(style='width: 100px;'): h5 &nbsp;#{key}&nbsp;
    li: h5(id='info#{key}')= value

mixin updateInfo(key, icon)
  .input-group(style="margin-bottom: 20px;")
    span.input-group-addon(style="width: 105px; text-align: left")
      i.fa(class='fa-#{icon}')
      | &nbsp;#{key}
    input.form-control(id='update#{key}' type='text')

mixin chartLabel(label, color)
  li: ul.list-inline
    li(style='width: 10px; height: 10px; background-color: #{color}')
    li= label

mixin newsList(title, url, logo, time, content)
  li.media
    a.pull-left(href=url): img.media-object.img-rounded(height='64', src=logo)
    .media-body
      h4.media-heading= title
      p= time
      p!= content

block container
  .row
    .col-md-8
      .row(style='margin-bottom: 20px;')
        .col-md-3(style='margin-right: -20px;')
          img#avatar.img-thumbnail(src='{% static "img/danlei.jpg" %}', width='120', height='120')
        .col-md-5(style='margin-left: -20px;')
          h2#nickname(style='margin-bottom: 5px;')= username
          a#updateBtn.btn.btn-link
            | update&nbsp;
            i.fa.fa-chevron-down
          a#cancelBtn.btn.btn-link(style='display: none;')
            | cancel&nbsp;
            i.fa.fa-chevron-up
      .row
        .col-md-5
          +personalInfo('Major', major, 'crosshairs')
          +personalInfo('Score', score, 'star')
          +personalInfo('Solved', solve, 'flag')
          +personalInfo('WriteUp', writeup, 'pencil')
        .col-md-6
          +personalInfo('Team', team, 'bookmark')
          +personalInfo('School', school, 'university')
          +personalInfo('Mail', mail, 'envelope')
          +personalInfo('Blog', blog, 'github')

      hr(style='background-color: transparent; margin-bottom: 30px;')

      .row#updateForm(style='display: none;')
        .col-md-5
          +updateInfo('Major', 'crosshairs')
          +updateInfo('School', 'university')

        .col-md-6
          +updateInfo('Mail', 'envelope')
          +updateInfo('Blog', 'github')
          a#confBtn.btn.btn-info
            i.fa.fa-check
            | &nbsp;Confirm

      hr(style='background-color: transparent; margin-bottom: 30px;'))

      .row(style='margin-bottom: 30px;')
        .col-md-4
          canvas#pieChart(height='220', width='220', style='margin-left: 10px; margin-top: 30px;')
        .col-md-2
          ul.list-unstyled
            +chartLabel('PWN', '#3BAFDA')
            +chartLabel('REVERSE', '#8CC152')
            +chartLabel('WEB', '#ED5565')
            +chartLabel('CRYPTO', '#37BC9B')
            +chartLabel('MISC', '#FFCE54')
        .col-md-4
          canvas#radarChart(height='300', width='300', style='margin-left: 30px;')
        .col-md-2
          ul.list-unstyled
            +chartLabel(username, '#89729E')
            if pageuser
              +chartLabel(pageuser, '#97BBCD')

    .col-md-4
      ul.nav.nav-pills
        li.dropdown.active
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | News&nbsp;
            b.caret
          ul.dropdown-menu
            li: a(href='#all') All
            li: a(href='#team') Team
            li: a(href='#follow') Follow
            li: a(href='#others') Others
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Focus&nbsp;
            b.caret
          ul.dropdown-menu
            li: a(href='#following') Following
            li: a(href='#followers') Followers

      ul#newsList.media-list(style='margin-top: 30px;')
        +newsList('DAWN', '#', '/static/img/logo.png', '12 Apr, 2015 at 12:50', 'solved challenge Dice Game of MISC 400.')
        +newsList('DAWN', '#', '/static/img/logo.png', '12 Apr, 2015 at 12:50', 'submitted writeup actf2015 of Dice Game.')
        +newsList('danlei', '#', '/static/img/logo.png', '12 Apr, 2015 at 12:50', 'joined DAWN team')

append script
  script(src='{% static "assets/charts/chart.min.js" %}')
  script(src='{% static "build/draw-chart.js" %}')
