extends frame
{% load staticfiles %}

mixin personalInfo(key, value, icon)
  ul.list-inline
    li(style='width: 20px;'): i.fa.fa-lg(class='fa-#{icon}')
    li(style='width: 100px;'): h5 &nbsp;#{key}&nbsp;
    li(style='width: 100px;'): h5(id='info#{key}')= value

mixin updateInfo(key, icon)
  .input-group(style='margin-bottom: 20px;')
    span.input-group-addon(style='width: 90px; text-align: left')
      i.fa(class='fa-#{icon}')
      | &nbsp;#{key}
    if key != 'Major'
      input.form-control(id='update#{key}', type='text', style='width: 205px;')
    else
      select.form-control(id='update#{key}', style='width: 205px;')
        option(value='PWN') PWN
        option(value='REVERSE') REVERSE
        option(value='WEB') WEB
        option(value='CRYPTO') CRYPTO
        option(value='MISC') MISC

mixin chartLabel(label, color)
  li: ul.list-inline
    li(style='width: 10px; height: 10px; background-color: #{color}')
    li= label

mixin newsList(title, url, logo, time, content)
  li.media
    a.pull-left(href=url): img.media-object.img-rounded(height='64', src=logo)
    .media-body
      h4.media-heading= title
      p= time
      p!= content

block container
  .row
    .col-md-8
      .row(style='margin-bottom: 20px;')
        .col-md-3(style='margin-right: -20px;')
          img#avatar.img-thumbnail(src='#{MEDIA_URL}#{avatar}',
            width='120', height='120', style='cursor: pointer;',
            data-toggle='tooltip', data-placement='bottom', title='Update Your Avatar')
          #iconHolder.img-thumbnail(style='width: 120px; height: 120px; display: none;')
            i.fa.fa-spinner.fa-5x.fa-spin(style='margin: 20px 20px;')
          form(enctype='multipart/form-data')
            input#avatarHolder(type='file', name='img', style='display: none;', onchange='uploadAvatar();')
        .col-md-3(style='margin-left: -20px;')
          // h2#nickname(style='margin-bottom: 5px;')= username
          h2
            span#nickname= username
            small(style='margin-left: 10px;')= motto
          unless self
            a#updateBtn.btn.btn-link
              | update&nbsp;
              i.fa.fa-chevron-down

          else
            a#unfollowBtn.btn.btn-info
              i.fa.fa-mars-double
              | &nbsp;Follow
            a#followBtn.btn(data-follow=follow)
              | Unfollow
            #followAlert.alert.alert-success: strong Success

      .row
        .col-md-5
          +personalInfo('Major', major, 'crosshairs')
          +personalInfo('Score', score, 'star')
          +personalInfo('Solved', solve, 'flag')
          +personalInfo('WriteUp', writeup, 'pencil')
        .col-md-6
          +personalInfo('Team', team, 'bookmark')
          +personalInfo('School', school, 'university')
          +personalInfo('Email', email, 'envelope')
          +personalInfo('Blog', blog, 'github')

      .row#updateForm(style='display: none;')
        hr(style='background-color: transparent; margin-bottom: 30px;')
        .col-md-5
          +updateInfo('Major', 'crosshairs')
          +updateInfo('School', 'university')
          .alert.alert-success: strong Updating Succeeded
          .alert.alert-danger: strong Updating Failed

        .col-md-6
          +updateInfo('Email', 'envelope')
          +updateInfo('Blog', 'github')
          a#confBtn.btn.btn-info(style='margin-bottom: 15px; margin-left: 110px;')
            i.fa.fa-check
            | &nbsp;Confirm
          a#cancelBtn.btn.btn-default(style='margin-bottom: 15px; margin-left: 5px;')
            i.fa.fa-times
            | &nbsp;Cancel

      hr(style='background-color: transparent; margin-bottom: 30px;'))
      .row(style='margin-bottom: 30px;')
        .col-md-4
          canvas#pieChart(height='220', width='220', style='margin-left: 10px; margin-top: 30px;')
        .col-md-2
          ul.list-unstyled
            +chartLabel('PWN', '#3BAFDA')
            +chartLabel('REVERSE', '#8CC152')
            +chartLabel('WEB', '#ED5565')
            +chartLabel('CRYPTO', '#37BC9B')
            +chartLabel('MISC', '#FFCE54')
        .col-md-4
          canvas#radarChart(height='300', width='300', style='margin-left: 30px;')
        .col-md-2
          ul.list-unstyled
            +chartLabel(username, '#89729E')
            if self
              +chartLabel(self, '#97BBCD')

    .col-md-4
      ul.nav.nav-pills
        li.dropdown.active
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | News&nbsp;
            b.caret
          ul.dropdown-menu
            li: a(href='#all') All
            li: a(href='#team') Team
            li: a(href='#follow') Follow
            li: a(href='#others') Others
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Focus&nbsp;
            b.caret
          ul.dropdown-menu
            li: a(href='#following') Following
            li: a(href='#followers') Followers

      ul#newsList.media-list(style='margin-top: 30px;')
        +newsList('DAWN', '#', '/static/img/logo.png', '12 Apr, 2015 at 12:50', 'solved challenge Dice Game of MISC 400.')
        +newsList('DAWN', '#', '/static/img/logo.png', '12 Apr, 2015 at 12:50', 'submitted writeup actf2015 of Dice Game.')
        +newsList('danlei', '#', '/static/img/logo.png', '12 Apr, 2015 at 12:50', 'joined DAWN team')

append script
  script(src='{% static "assets/charts/chart.min.js" %}')
  script(src='{% static "assets/plugins/ajax-file-upload.js" %}')
  script(src='{% static "build/person.js" %}')
