extends frame
{% load staticfiles %}

mixin userlist(user, pk)
  tr(style='display: none;')
    td.text-center: a(href=pk)= user.nickname
    td.text-center
      if user.major == 'PWN'
        span.label.label-primary PWN
      if user.major == 'REVERSE'
        span.label.label-success REVERSE
      if user.major == 'WEB'
        span.label.label-danger WEB
      if user.major == 'CRYPTO'
        span.label.label-info CRYPTO
      if user.major == 'MISC'
        span.label.label-warning MISC
    td.text-center= user.team
    td.text-center= user.score
    td.text-center= user.solved
    td.text-center= user.writeup
    td.text-center
      if user.follow
        button.btn.btn-default unfollow
      // else
      //   button.btn.btn-default follow


block container
  .row
    .col-md-8
      .panel.panel-default
        .panel-heading
          | User List
          input.pull-right(type='checkbox')
        table#userList.table.table-hover
          thead
            tr
              th.text-center NickName
              th.text-center Major
              th.text-center Team
              th.text-center Score
              th.text-center Solved
              th.text-center WriteUp
              th
          tbobd
            for item in users
              +userlist(item, item.pk)
        table#teamList.table.table-hover(style='display: none;')
          thead
            tr
              th.text-center TeamName
              th.text-center Members
              th.text-center Score
              th.text-center Solved
              th.text-center WriteUp
              th
          tbody
            for item in teams
              +teamlist(item, item.pk)
      .btn-group.pull-right
        button#pagerPrev.btn.btn-primary: i.fa.fa-long-array-left
        button#pagerNext.btn.btn-primary: i.fa.fa-long-array-right


append script
  script(src='{% static "assets/bootflat/js/bootstrap-switch.min.js" %}')
  script(src='{% static "build/ranking.js" %}')

append head
  link(rel='stylesheet', href='{% static "assets/bootflat/css/bootstrap-switch.min.css" %}')