extends frame
{% load staticfiles %}

mixin writeupList(wu, url)
  tr
    td.text-center: a(href=url)= wu.title
    td.text-center= wu.challenge
    td.text-center= wu.category
    td.text-center= wu.author
    td.text-center= wu.team
    td.text-center
      i.fa.fa-comments-o &nbsp;#{wu.comment}
      | &nbsp;&nbsp;
      i.fa.fa-thumbs-o-up &nbsp;#{wu.like}

mixin mineList(wu, url)
  li.media(style='margin-bottom: 25px;')
    a.pull-right.btn.btn-info
      i.fa.fa-pencil
      | &nbsp;Edit
    .media-body
      h4.media-heading: a(href=url)= wu.title
      p #{wu.challenge},&nbsp;&nbsp;#{wu.time}
      p #[i.fa.fa-comments-o]&nbsp;#{wu.comment}&nbsp;&nbsp;&nbsp;#[i.fa.fa-thumbs-o-up]&nbsp;#{wu.like}

mixin starredList(wu, url)
  li.media(style='margin-bottom: 25px;')
    a.pull-right.btn.btn-default
      i.fa.fa-star-o
      | &nbsp;Unstar
    .media-body
      h4.media-heading: a(href=url)= wu.title
      p= wu.challenge
      p= wu.author

block container
  .row
    .col-md-8
      .panel.panel-default
        .panel-heading
          | WriteUp List
          .btn-group.pull-right
            button.btn.btn-primary.btn-xs PWN
            button.btn.btn-success.btn-xs REVERSE
            button.btn.btn-danger.btn-xs WEB
            button.btn.btn-info.btn-xs CRYPTO
            button.btn.btn-warning.btn-xs MISC
        table.table.table-hover
          thead
            tr
              th.text-center Title
              th.text-center Challenge
              th.text-center Category
              th.text-center Author
              th.text-center Team
              th
          tbody
            for item in writeups
              +writeupList(item, item.url)
      .btn-group.pull-right
        button#prev.btn.btn-info(data-page): i.fa.fa-long-arrow-left
        button#next.btn.btn-info: i.fa.fa-long-arrow-right

    .col-md-4
      ul.nav.nav-pills
        li.active
          a(href='#mine', data-toggle='pill')
            | My WriteUp&nbsp;
            span.badge.badge-primary= minelen
        li
          a(href='#starred', data-toggle='pill')
            | Starred WriteUp&nbsp;
            span.badge.badge-primary= starredlen
      .tab-content
        #mine.tab-pane.fade.in.active: ul#mine.media-list(style='margin-top: 30px;')
          for item in mywu
            +mineList(item, item.url)
        #starred.tab-pane.fade: ul#starred.media-list(style='margin-top: 30px;')
          for item in starredwu
            +starredList(item, item.url)

append script
  script(src='{% static "build/writeup.js" %}')