extends frame
{% load staticfiles %}

mixin commentList(item, pk, avatar)
  .row
    .col-sm-2
      img.img-circle(style='margin-top: 40px; margin-left: 30px;',
        height='80px', width='80px', src='#{MEDIA_URL}#{avatar}')
    .col-sm-10
      hr
      h5.text-muted
        a(href='/person/#{pk}/')= item.writer
        if item.recver
          i.fa.fa-caret-right(style='margin: 0px 20px;')
          | #{item.recver}
        small.pull-right(style='color: #999; margin: 0px 30px;')= item.timex
      p.marked(style='margin-bottom: 15px;')= item.content
      button.btn.btn-xs.btn-link.reply(style='padding: 0px;') Reply
      button.btn.btn-xs.btn-link.submit(data-focus=pk, style='padding: 0px; display: none;') Submit
      button.btn.btn-xs.btn-link.cancel(style='display: none;') Cancel

mixin writeupList(item, pk, avatar)
  if item.like
    span.badge.badge-default.pull-right
      i.fa.fa-thumbs-o-up
      | &nbsp;#{item.like}
  img.img-circle(style='margin-right: 10px;',height='30px', width='30px', src='#{MEDIA_URL}#{avatar}',
    data-toggle='tooltip', data-placement='left', title=item.author.username)
  a(href='/writeup/#{pk}/')= item.title


block container
  .row
    .col-md-9(style='margin-bottom: 40px;')
      h1.text-center(style='margin-top: 0px;')= title
      h4.text-center: a(href='/person/#{authorid}')= author
      #writeupHolder(style='margin: 40px 0px;')
        !{content}
      p#likestar.pull-right(data-like=like, data-star=star, data-pk=pk)
        button.btn.btn-link(data-toggle='tooltip', data-placement='top', title='unlike')
          i.fa.fa-lg.fa-thumbs-up
        button.btn.btn-link(data-toggle='tooltip', data-placement='top', title='like')
          i.fa.fa-lg.fa-thumbs-o-up
        button.btn.btn-link(data-toggle='tooltip', data-placement='top', title='unstar')
          i.fa.fa-lg.fa-star
        button.btn.btn-link(data-toggle='tooltip', data-placement='top', title='star')
          i.fa.fa-lg.fa-star-o
        button.btn.btn-link(data-toggle='tooltip', data-placement='top', title='reply')
          i.fa.fa-lg.fa-reply
        button.btn.btn-link(style='display: none;', data-toggle='tooltip', data-placement='top', title='cancel')
          i.fa.fa-lg.fa-times-circle
      br
      hr
      .row
        .col-sm-10
          textarea#editor(autofocus)
        .col-sm-2.text-center
          img.img-circle(height='100px', width='100px', src='#{MEDIA_URL}#{avatar}')
          button#submitBtn.btn.btn-sm.btn-block.btn-success.pull-right(style='margin-top: 15px;') Submit
      for item in comments
        +commentList(item, item.pk, item.avatar)
    if re_wp or con_wp or my_wp
      .col-md-3
        .panel.panel-info
          .panel-heading
            h3.panel-title Relevant Writeups
          .panel-body
            ul(style='padding-left: 20px;')
              if re_wp
                li: h4 to this challenge
                for item in re_wp
                  +writeupList(item, item.pk, item.avatar)
              if con_wp
                li: h4 to this contest
                for item in con_wp
                  +writeupList(item, item.pk, item.avatar)
              if my_wp
                li: h4 by this author
                for item in my_wp
                  +writeupList(item, item.pk, item.avatar)


block script
  script(src='{% static "assets/simditor/scripts/jquery.min.js" %}')
  script(src='{% static "assets/bootflat/js/site.min.js" %}')
  script(src='{% static "assets/plugins/jquery.cookie.min.js" %}')
  script(src='{% static "build/common.js" %}')
  script(src='{% static "assets/simditor/scripts/module.min.js" %}')
  script(src='{% static "assets/simditor/scripts/hotkeys.min.js" %}')
  script(src='{% static "assets/simditor/scripts/simditor.min.js" %}')
  script(src='{% static "assets/simditor/markdown/marked.js" %}')
  script(src='{% static "assets/simditor/markdown/to-markdown.js" %}')
  script(src='{% static "assets/simditor/markdown/simditor-markdown.js" %}')
  script(src='{% static "build/writeup-detail.js" %}')

append head
  link(rel='stylesheet', href='{% static "assets/simditor/styles/simditor.css" %}')
  link(rel='stylesheet', href='{% static "assets/simditor/markdown/simditor-markdown.css" %}')
  style.
    .simditor .simditor-wrapper > textarea {
      min-height: 100px;
    }
    .simditor .simditor-body {
      min-height: 100px;
    }