extends frame
{% load staticfiles %}

mixin newsList(action, title, url, time, content)
  li.media
    if action == 'Edit'
      a.pull-right.btn.btn-info
        i.fa.fa-pencil
        | &nbsp;#{action}
    else
      a.pull-right.btn.btn-default
        i.fa.fa-star
        | &nbsp;#{action}
    .media-body
      h4.media-heading: a(href=url)= title
      p= time
      p!= content

block container
  .row
    .col-md-8
      .panel.panel-info
        .panel-heading WriteUp List
        table.table
          thead
            tr
              th Title
              th Challenge
              th Category
              th Author
              th Team
              th
          tbody
            tr
              td 呵呵hehhehehehehe
              td Dice Game
              td MISC
              td danlei
              td DAWN
              td
                i.fa.fa-comments-o &nbsp;16
                | &nbsp;
                i.fa.fa-thumbs-o-up &nbsp;25
    .col-md-4
      ul.nav.nav-pills
        li.active
          a.dropdown-toggle(href='#my')
            | My WriteUp&nbsp;
            span.badge.badge-danger 2
        li
          a.dropdown-toggle(href='#starred')
            | Starred WriteUp&nbsp;
            span.badge.badge-danger 4

      ul.media-list(style='margin-top: 30px;')
        +newsList('Unstar', 'DAWN', '#', '12 Apr, 2015 at 12:50', 'solved challenge Dice Game of MISC 400.')
