extends frame
{% load staticfiles %}

mixin writeupList(wp, pk)
  tr
    td.text-center: a(href=pk)= wp.title
    td.text-center= wp.solve
    td.text-center
      if wp.category == 'PWN'
        span.label.label-primary PWN
      if wp.category == 'REVERSE'
        span.label.label-success REVERSE
      if wp.category == 'WEB'
        span.label.label-danger WEB
      if wp.category == 'CRYPTO'
        span.label.label-info CRYPTO
      if wp.category == 'MISC'
        span.label.label-warning MISC
    td.text-center= wp.writer
    td.text-center= wp.group
    td.text-center
      i.fa.fa-comments-o &nbsp;#{wp.comment}
      | &nbsp;&nbsp;
      i.fa.fa-thumbs-o-up &nbsp;#{wp.like}

mixin mineList(wp, pk)
  li.media(style='margin-bottom: 25px;')
    a.pull-right.btn.btn-info(href='#{pk}/editor/')
      i.fa.fa-pencil
      | &nbsp;Edit
    .media-body
      h4.media-heading: a(href=pk)= wp.title
      p #{wp.solve},&nbsp;&nbsp;#{wp.time}
      p #[i.fa.fa-comments-o]&nbsp;#{wp.comment}&nbsp;&nbsp;&nbsp;#[i.fa.fa-thumbs-o-up]&nbsp;#{wp.like}

mixin starredList(wp, pk)
  li.media(style='margin-bottom: 25px;')
    a.pull-right.btn.btn-default(href='#{pk}/unstar/')
      i.fa.fa-star-o
      | &nbsp;Unstar
    .media-body
      h4.media-heading
        a(href=pk)= wp.title
        span.text-muted &nbsp;&nbsp;#{wp.author}
      p #{wp.solve},&nbsp;&nbsp;#{wp.time}
      p #[i.fa.fa-comments-o]&nbsp;#{wp.comment}&nbsp;&nbsp;&nbsp;#[i.fa.fa-thumbs-o-up]&nbsp;#{wp.like}

block container
  .row
    .col-md-8
      .panel.panel-default
        .panel-heading
          | WriteUp List
          .btn-group.pull-right
            button.btn.btn-primary.btn-xs PWN
            button.btn.btn-success.btn-xs REVERSE
            button.btn.btn-danger.btn-xs WEB
            button.btn.btn-info.btn-xs CRYPTO
            button.btn.btn-warning.btn-xs MISC
        table.table.table-hover
          thead
            tr
              th.text-center Title
              th.text-center Challenge
              th.text-center Category
              th.text-center Author
              th.text-center Team
              th
          tbody
            for item in writeups
              +writeupList(item, item.pk)
      .btn-group.pull-right
        button#prev.btn.btn-primary(data-page): i.fa.fa-long-arrow-left
        button#next.btn.btn-primary: i.fa.fa-long-arrow-right
      a.btn.btn-success.pull-left(href='editor/')
        i.fa.fa-cloud-upload
        | &nbsp;Submit


    .col-md-4
      ul.nav.nav-pills
        li.active
          a(href='#mine', data-toggle='pill')
            | My WriteUp&nbsp;
            if minelen
              span.badge.badge-primary= minelen
        li
          a(href='#starred', data-toggle='pill')
            | Starred WriteUp&nbsp;
            if starredlen
              span.badge.badge-primary= starredlen
      .tab-content
        #mine.tab-pane.fade.in.active: ul.media-list(style='margin-top: 30px;')
          for item in mywp
            +mineList(item, item.pk)
        #starred.tab-pane.fade: ul.media-list(style='margin-top: 30px;')
          for item in starredwp
            +starredList(item, item.pk)

append script
  script(src='{% static "build/writeup.js" %}')