extends frame
{% load staticfiles %}

mixin writeupList(wu, url)
  tr
    td: a(href=url)= wu.title
    td= wu.challenge
    td= wu.category
    td= wu.author
    td= wu.team
    td
      i.fa.fa-comments-o &nbsp;#{wu.comment}
      | &nbsp;&nbsp;
      i.fa.fa-thumbs-o-up &nbsp;#{wu.like}

mixin mineList(wu, url)
  li.media(style='margin-bottom: 25px;')
    a.pull-right.btn.btn-info
      i.fa.fa-pencil
      | &nbsp;Edit
    .media-body
      h4.media-heading: a(href=url)= wu.title
      p #{wu.challenge},&nbsp;&nbsp;#{wu.time}
      p #[i.fa.fa-comments-o]&nbsp;#{wu.comment}&nbsp;&nbsp;&nbsp;#[i.fa.fa-thumbs-o-up]&nbsp;#{wu.like}

mixin starredList(wu, url)
  li.media(style='margin-bottom: 25px;')
    a.pull-right.btn.btn-default
      i.fa.fa-star-o
      | &nbsp;Unstar
    .media-body
      h4.media-heading: a(href=url)= wu.title
      p= wu.challenge
      p= wu.author

block container
  .row
    .col-md-8
      .panel.panel-info
        .panel-heading WriteUp List
        table.table
          thead
            tr
              th Title
              th Challenge
              th Category
              th Author
              th Team
              th
          tbody
            for item in writeups
              +writeupList(item, item.url)

    .col-md-4
      ul.nav.nav-pills
        li.active
          a(href='#mine', data-toggle='pill')
            | My WriteUp&nbsp;
            span.badge.badge-primary= minelen
        li
          a(href='#starred', data-toggle='pill')
            | Starred WriteUp&nbsp;
            span.badge.badge-primary= starredlen
      .tab-content
        #mine.tab-pane.fade.in.active: ul#mine.media-list(style='margin-top: 30px;')
          for item in mywu
            +mineList(item, item.url)
        #starred.tab-pane.fade: ul#starred.media-list(style='margin-top: 30px;')
          for item in starredwu
            +starredList(item, item.url)

append script
  script(src='{% static "build/writeup.js" %}')